.error {
    color: red;
    display:block;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input[type="text"], input[type="password"] {
        width: 15rem;
        height: 1.5rem;
        padding: 0.5rem;
        border: 1px solid #000000;
        border-radius: 4px;
        font-size: 1rem;
        box-sizing: border-box;
}
.container {
    width: 260px; 
    padding: 20px; 
    margin: 100px auto; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
}
body{
    background-color: black;
}
button{
    width: 10rem;
    margin-left: 35px;
    margin-bottom: 10px;
}